*,
*::before,
*::after {
  box-sizing: border-box;
  border-style: solid; /* 2 */
  border-width: 0; /* 2 */
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

:root {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  position: relative;
  font-family: system-ui, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */

body {
  position: relative;
  min-height: 100dvh;
  font-size: 100%;
  line-height: 1.5;
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  padding: 0; /* 3 */
  color: inherit; /* 1 */
  font-weight: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-family: inherit; /* 1 */
  line-height: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button {
  background-color: inherit;
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

a {
  color: inherit;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
